---
import { ChevronDown } from "lucide-astro";

import type { TreeNode } from "../types";

interface Props {
	tree: Record<string, TreeNode>;
}

const { tree } = Astro.props;

const pathname = Astro.url.pathname;
const formattedPathname = pathname !== "/" ? pathname.replace(/\/$/, "") : "/";
---

<ul>
	{
		Object.entries(tree).map(([title, node]) => {
			const { slug, children, level } = node;
			const isCollapsible = Object.keys(children).length > 0;
			const id = `list-item-${slug.replace(/\//g, "-")}`;
			return (
				<li
					id={id}
					data-collapsed="false"
					class="group group-data-[collapsed=true]:hidden"
				>
					<a
						href={`/${slug}`}
						class="group flex items-center text-sm data-[selected=true]:bg-blue data-[selected=false]:hover:bg-gray-100"
						data-collapsible={String(isCollapsible)}
						data-selected={String(`/${slug}` === formattedPathname)}
					>
						{Array.from({ length: level }).map(() => (
							<span class="ml-2.5 border-l self-stretch group-data-[selected=true]:border-gray-300 group-data-[selected=false]:border-gray-200" />
						))}
						{isCollapsible ? (
							<span class="ml-0.5 flex items-end">
								<ChevronDown
									size="17px"
									stroke-width="1.3px"
									class="group-data-[collapsed=true]:-rotate-90"
								/>
								<span class="ml-0.5">{title}</span>
							</span>
						) : (
							<span class="ml-2.5">{title}</span>
						)}
					</a>
					{isCollapsible && <Astro.self tree={children} />}
				</li>
			);
		})
	}
</ul>
<script is:inline data-astro-rerun>
	document.querySelectorAll("[data-collapsed]").forEach((listItem) => {
		const value = localStorage.getItem(listItem.id);
		if (value === "true") {
			listItem.setAttribute("data-collapsed", "true");
		}
	});
	document.querySelectorAll("[data-collapsible]").forEach((link) => {
		link.onclick = (e) => {
			if (link.dataset.selected !== "true") return;
			const listItem = link.closest("li");
			if (!listItem) return;
			e.preventDefault();
			const value = listItem.getAttribute("data-collapsed") === "true";
			listItem.setAttribute("data-collapsed", String(!value));
			localStorage.setItem(listItem.id, String(!value));
		};
	});
</script>
