---
import "../index.css";

import ClientRouter from "astro/components/ClientRouter.astro";

import { SITE_AUTHOR, SITE_TITLE } from "../constants";

interface Props {
  h1: string;
}

const { h1 } = Astro.props;

const isIndex = h1 === SITE_TITLE;

const title = isIndex ? SITE_TITLE : `${h1} - ${SITE_TITLE}`;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={SITE_AUTHOR} />
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="preload"
      href="/icons/external-link.svg"
      as="image"
      type="image/svg+xml"
    />
    <link
      rel="preload"
      href="/fonts/GeistMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/GeistMono-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
  </head>
  <body class="max-w-3xl mb-24 px-4 sm:px-0 mx-auto font-geist">
    {
      (
        <nav class="flex justify-between my-12">
          <div class="flex space-x-4">
            {isIndex ? (
              <>
                <a href="/" class="text-stone-950 hover:text-stone-950">
                  tims
                </a>
                <a href="/#work">work</a>
                <a href="/#writing">writing</a>
                <a href="/#misc">misc</a>
              </>
            ) : (
              <>
                <a href="/">back</a>
              </>
            )}
          </div>
          <div class="flex space-x-4">
            <a
              href="https://github.com/0xtimsb"
              class="external-link"
              target="_blank"
            >
              github
            </a>
            <a
              href="https://x.com/0xtimsb"
              class="external-link"
              target="_blank"
            >
              x
            </a>
            <a
              href="https://bsky.app/profile/0xtimsb.com"
              class="external-link"
              target="_blank"
            >
              bluesky
            </a>
          </div>
        </nav>
      )
    }
    <h1 class="text-2xl">{h1}</h1>
    <main>
      <slot />
    </main>
  </body>
</html>
